{% extends "node.html.twig" %}
{#
/**
 * @file
 * Article node type with different submitted info
 */
#}

{% block node_submitted %}
  {% if display_submitted %}
    <footer class="{{ bundle }}__meta"> {# Removed author_picture. #}
      <div{{ author_attributes }} class="{{ bundle }}__submitted"> {# Added a class. #}
        {{ date }} {# Removed author_name and the translateable string. #}
        {{ metadata }}
      </div>
    </footer>
  {% endif %}
{% endblock %}

{% block node_content %}
  {# Using our bundle variable and BEM element class naming here. #}
  <div{{ content_attributes }} class="{{ bundle }}__content">
    {# Render content without image field. #}
    {{ content|without('field_image') }}
  </div>
{% endblock %}
